/* this is global css */
body {
    padding: 0px;
    margin: 0px;
}

h2 {
    color: blueviolet;
    margin: 0px;
    font-family: sans-serif;
    font-size: 24px;
}

h3 {
    font-size: 20px;
    color: #000000;
    font-family: sans-serif;
    margin: 0px;
}

h4 {
    margin: 0px;
    color: #000000;
    font-family: sans-serif;
    font-size: 16px;
}

p {
    margin: 0px;
    color: #000000;
    font-size: 16px;
    font-family: sans-serif;
}

.main-container {
    background-color: red;
    position: relative;
    width: 60%;
    margin: auto;
}

.d-flex {
    display: flex;
}

.g-5 {
    gap: 5px;
}

.g-10 {
    gap: 10px;
}

.align-center {
    align-items: center;
}

.color-gray {
    color: #808080;
}

.font-small {
    font-size: 12px;
}

button,
.cursor-pointer {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #000000;
    font-family: sans-serif;
}

.content-container {
    background-color: green;
    padding: 10px 0px;
}

.button {
    background-color: #000000;
    border: none;
    color: #ffffff;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
}

.white-button {
    background-color: #ffffff;
    border: 1px solid #000000;
    color: #000000;
}

.button-width {
    width: 100px;

}

@media only screen and (max-width:480px) {
    .main-container {
        width: 100%;
    }
}