.card-item {
    gap: 10px;
    padding: 10px 15px;
    border: 2px solid #C0C0C0;
    border-radius: 5px;
}

.card-info-div {
    width: 100%;
    justify-content: space-between;
}

.remove-button {
    border: 1px solid #C0C0C0;
    padding: 5px 8px;
    border-radius: 5px;
    color: #808080;
    background-color: #ffffff;

}



.card-name-div {
    flex-direction: column;
}

.card-name-div .button {
    padding: 6px;
}

.card-name-div .action-button {
    background-color: #808080;
    color: #ffffff;
    border: none;
}