.home-page-container {
    flex-direction: column;
    gap: 60px;
}


.column {
    width: 50%;
    aspect-ratio: 1/0.8;
}

.inner-column {
    width: 50%;
    flex-direction: column;
}

.inner-row {
    height: 50%;
}


.shop-now-container {
    height: 250px;
    gap: 20px;
}

.text-div {
    flex-basis: 50%;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.image-div {
    flex-basis: 50%;
}

.image-text-div {
    position: relative;
}

.image-text-div img {
    filter: brightness(80%);
}

.image-text-div img:hover {
    filter: brightness(60%);
}

.text-inside-image {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: #ffffff;
}


@media only screen and (max-width:480px) {
    .image-container {
        flex-direction: column;
        align-items: center;
    }

    .shop-now-container {
        flex-direction: column;
        height: auto;
    }
}