.home-page-container {
    flex-direction: column;
    gap: 60px;
}


.column {
    width: 50%;
    aspect-ratio: 1/0.8;
}

.inner-column {
    width: 50%;
    flex-direction: column;
}

.inner-row {
    height: 50%;
}


.shop-now-container {
    height: 250px;
    gap: 20px;
}

.text-div {
    flex-basis: 50%;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.image-div {
    flex-basis: 50%;
}

.image-text-div {
    position: relative;
}

.image-text-div img {
    filter: brightness(80%);
}

.image-text-div img:hover {
    filter: brightness(60%);
}

.text-inside-image {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: #ffffff;
}

.background-gray {
    background-color: #808080;
}

.top-to-bottom {
    animation: topToBottom 3s ease forwards;
}

@keyframes topToBottom {
    0% {
        opacity: 0;
        transform: translateY(-40px);
    }

    100% {
        opacity: 1;
        transfrom: translateY(0);
    }
}


.bottom-to-top {
    animation: bottomToTop 3s ease;
}

@keyframes bottomToTop {
    0% {
        transform: translateY(40px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.left-to-right {
    animation: leftToRight 3s ease;
}

@keyframes leftToRight {
    0% {
        transform: translateX(-30px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.right-to-left {
    animation: rightToBottom 3s ease;
}

@keyframes rightToBottom {
    0% {
        transform: translateX(30px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@media only screen and (max-width:720px) {
    .image-container {
        flex-direction: column;
        align-items: center;
    }

    .shop-now-container {
        flex-direction: column;
        height: auto;
    }
}