.home-page-container {
    flex-direction: column;
    gap: 60px;
}


.column {
    background-color: red;
    width: 50%;
    aspect-ratio: 1/0.8;
}

.inner-column {
    background-color: pink;
    width: 50%;
    flex-direction: column;
}

.inner-row {
    background-color: blue;
    height: 50%;
}


.shop-now-container {
    height: 250px;
}

.text-div {
    flex-basis: 50%;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.image-div {
    flex-basis: 50%;
}


@media only screen and (max-width:480px) {
    .image-container {
        flex-direction: column;
        align-items: center;
    }

    .shop-now-container {
        flex-direction: column;
        height: auto;
    }
}