.category-heading {
    justify-content: space-between;
    padding: 20px 0px;
    justify-content: center;
    position: relative;
}

.home-button-div {
    position: absolute;
    left: 0;
}



.category-button-container {
    justify-content: center;
    padding: 30px 0px;
}

.category-button-container .button {
    border: 1px solid #808080;
    padding: 5px 8px;
}