.product-container {
    flex-direction: column;
    gap: 30px;
}

.product-heading-div {
    justify-content: center;
    position: relative;
}

.product-heading-div .back-button-div {
    position: absolute;
    top: 20%;
    left: 0;
}


.product-column {
    background-color: blue;
    width: 50%;
    aspect-ratio: 1/0.5;

}

.desription-div {
    background-color: rgb(229 229 229);
    display: flex;
    flex-direction: column;
    padding: 40px 30px;
    gap: 10px;
    justify-content: space-between;
}

.quantity-div {
    justify-content: space-between;
}

.product-text-div {
    word-wrap: break-word;
}

.quantity-button {
    font-size: 16px !important;
}

.button-div {
    justify-content: space-between;
}

.button-div .button {
    width: 50%;
}


.single-image-div {
    width: 10%;
    aspect-ratio: 1/1;
    cursor: pointer;
}

.product-info-div {
    background-color: rgb(229 229 229);
    width: 25%;
    padding: 10px;
}