.trending-now-container {
    flex-direction: column;
    gap: 20px;
}

.trending-now-heading {
    justify-content: space-between;
}

.trending-content {
    overflow-x: hidden;
}

.trending-content .card {
    cursor: inherit;
}

.trending-content .card:hover {
    border: 1px solid #c0c0c0;
}

.scrolling-div {
    animation: scroll 12s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}


.scrolling-div .card {
    flex: 0 0 auto;
}